<% if /^http/.match(@bookmark.url)
       aUrl = @bookmark.url
  else
      aUrl = "http://#{@bookmark.url}"
  end
  
%>

<h2><%= @bookmark.name %></h2>

<div id="showBookmarkContainer">
       
    <span class="fieldLabel">URL:</span>
    <%= link_to (aUrl), aUrl, :target => '_blank' %>
    
    <br />
    
    <span class="fieldLabel">Date Updated:</span>
    <%=  @bookmark.updated_at.strftime("%m/%d/%Y") %>
    
</div>
