<div id="indexAllBookmarks">
<% @bookmarks.each do |bookmark|
   
  if /^http/.match(bookmark.url)
    aUrl = bookmark.url
  else
    aUrl = "http://#{bookmark.url}"
  end
%>

  <div class="indexBookmarkContainer">
    
    <div class="indexBookmarkData">
      
      <% link_to(bookmark, :anchor => 'indexBookmarkTitleContainer') do %> 
      <div class="indexBookmarkTitleContainer">
          <div class="indexBookmarkTitle">
            <h3 class="bookmarkTitle">
              <%= bookmark.name %>
            </h3>
          </div>
      </div>
    <% end %>
      

      
      <div class="indexBookmarkUrl">
        <%= link_to (aUrl), aUrl, :target => '_blank' %><br />
      </div>
      
      <div class="indexBookmarkSaveDate">(date updated: 
         <%= bookmark.updated_at.strftime("%m/%d/%Y") %>)
      </div>
      
      
      
    </div>
  </div>
<% end %>

</div>