<h2>bookmarks</h2>

<div>pal.atab.le lets you save your bookmarks so that you can access them anywhere!
&nbsp;Have fun!<br /><br /></div>

<%= link_to 'add bookmark', new_bookmark_path %>
<br /><br />

<%= render 'showAll' %>

<br /><br />