<h2>my bookmarks</h2>

<div>pal.atab.le lets you to share the amazing things you find with others.
Have fun!<br /><br /></div>

<%= link_to 'add bookmark', new_bookmark_path %>
<br /><br />

<%= render 'showAll' %>

<br /><br />