<% if /^http/.match(@bookmark.url)
       aUrl = @bookmark.url
  else
      aUrl = "http://#{@bookmark.url}"
  end
  
  if @bookmark.date_saved != nil
        date_exists = true
  else
        date_exists = false
  end
%>

<h1><%= @bookmark.name %></h1>

<div id="showBookmarkContainer">
  
  <div id="showBookmarkData">
    <p>URL:  <%= link_to (aUrl), aUrl, :target => '_blank' %></p>
    
    <p>Date Saved:
        <%= if date_exists
          @bookmark.date_saved.strftime("%m/%d/%Y")
        else
          "unknown"
        end %>
    </p>
  </div>
</div>

<br />

<%= link_to 'Back', bookmarks_path %>
