<h2>Bookmark: <%= @bookmark.name %></h2>

    <div id="bookmarkChangeLinks">

       <% if current_user?(@bookmark.user) %>
            <%= link_to 'update bookmark', edit_bookmark_path(@bookmark) %>
            &nbsp; | &nbsp;
            <%= link_to "delete", @bookmark, :method => :delete,
                                             :confirm => "Delete: are you sure?",
                                             :title => @bookmark.name %>
       <% end %>
    </div>
    

<div id="showBookmarkContainer"> 

    <%= render 'showSelected' %>

</div>

  

<br /><br />