<div class="formContainerProfile">

  <%= form_for(@user) do |f| %>
  
    <%= render :partial => 'shared/profile_fields', :locals => { :f => f }  %>
      
    <div class="actions">
      <%= f.submit "update", :class => "formSubmissionButtons" %>
      <br /><br />
    </div>
    
    <%= render 'shared/errorUser_messages', :object => f.object %>
  
  <% end %>

</div>
