<h2>Login</h2>

<div class="formContainerLogin">
  <div class="forms">
    <form action="<%= dashboard_path %>" method="post">
      <div class="field">
        <label for="txtUsername" class="fieldLabelShort">Username:</label>
        <input type="text" id="txtUsername" name="txtUsername" /><br /><br />
      </div>
      <div class="field">
        <label for="txtPassword" class="fieldLabelShort">Password:</label>
        <input type="password" id="txtPassword" name="txtPassword" /><br /><br />
      </div>
      <div class="actions">
        <input type="submit" value="login" title="submit login"
               class="formSubmissionButtons" />
      </div>
    </form>
    <br />
  </div>
</div>

<br /><br />    
<div>New user? <%= link_to "Sign up now!", signup_path %></div>
<br /><br />