<h2>profile</h2>

<div>
  <span class="fieldLabelShort">username:</span>
  <%= @user.username %>
</div>

<div>
   <span class="fieldLabelShort">full name:</span>
  <%= @user.full_name %>
</div>

<div>
  <span class="fieldLabelShort">email:</span>
  <%= @user.email %>
</div>

<div>
  <br />
  <%= link_to 'update profile', edit_user_path(@user) %>
  <br /><br />
</div>