<div class="field">
    <%= f.label :name, "name", :class => "fieldLabelShort" %>
    <%= f.text_field :name %><br /><br />
</div>
<div class="field">
    <%= f.label :url, "url" ,:class => "fieldLabelShort" %>
    <%= f.text_field :url %><br /><br />
</div>
