   <% if @bookmark.errors.any? %>
    <div class="error_explanation">
      <h3 class="errorMessageHeading"><%= pluralize(@bookmark.errors.count, "error") %> prohibited
          this bookmark from being saved:</h3>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <br />
    </div>
  <% end %>