<% if @user.errors.any? %>
    <div class="error_explanation">
      <h3 class="errorMessageHeading">Please correct <%= pluralize(@user.errors.count, "error") %>:</h3>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <br />
<% end %>