<header>
  <div id="header">
      <h1><%= link_to "pal.atab.le", login_path %></h1>
      <%= render 'layouts/navigation' %>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
  </div>
</header>