<headerTopContainer>
    <div id="headerTopContainer">
        
        <form action="#" id="searchForm" method="post">
            <input type="text" name="search" maxlength="10" size="10">
            <input type="button" value="search" id="searchButton"
                                 name="searchButton" class="submissionButtons" />
        </form>
        
        <span id="welcomeLinkNonSignedIn">existing user? <%= link_to "sign in now", signin_path %></span>

    
    </div>
</headerTopContainer>