<headerTopContainer>
    <div id="headerTopContainer">
                
        <span id="welcomeLinkNonSignedIn">existing user? <%= link_to "sign in now", signin_path %></span>

    </div>
</headerTopContainer>