<headerTopContainer>
    <div id="headerTopContainer">                
            
            <span id="welcomeLinkSignedIn">
                <span id="signInName"><%= current_user.full_name %> &nbsp;&nbsp;</span>
                <span id="signOutLink"><%= link_to "sign out", signout_path %></span>
            </span>

    </div>
</headerTopContainer>