<navigationSignedIn>
     <div id="menulinks">
          <ul>        
                <li><%= link_to "help", "#" %></li>
        
                <li><%= link_to "profile", current_user %></li>
                
                <li><%= link_to "bookmarks", allBookmarks_path %></li>

           </ul>
     </div>
</navigationSignedIn>
