<navigation>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to "sign up", signup_path %></li>
          <li><%= link_to "help", "#" %></li>
          <li>
            <form action="#" method="post">
              <input type="text" name="search" maxlength="10" size="10">
              <input type="button" value="search" id="searchButton"
                     name="searchButton" class="submissionButtons" />
            </form>
          </li>
        </ul>
    </div>
</navigation>
